NODE_ENV=development
PORT=8388

# Database Configuration
DB_CONNECTION=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=todo_db
DATABASE_SYNCHRONIZE=true
